manifest {
    author = "Anders Goncalves da Silva"
    defaultBranch = "master"
    description = "Run RADinitio under multiple scenarios to figure out the best approach for a species"
    mainScript = "main.nf"
    name = "tahpyr"
    version = "0.1.0"
}

params {
    // Workflow params
    publish_dir = "results/"

    // Required params
    exp_design = "data/exp_design.csv"
    ref_genome = "data/t_flavidus_chr22.fasta"
    chromosome_list = "data/t_flavidus_chr_list.txt"
    out_dir = "radinitio"

    // Demographic params
    n_pops = 2
    pop_effective_sizes = 5000
    n_seq_ind = 10 // number of sequenced individuals per population

    // Library params
    library_type = "sdRAD" // either "sdRAD" or "ddRAD"
    enzyme_1 = "EcoRI"
    enzyme_2 = "MspI"
    mean_insert_size = 350
    sd_insert_size = 37
    n_pcr_cycles = 0
    coverage = 20
    read_length = 150

    // Containers

    // RADinitio Containers
    radinitio_container = "radinitio"
}